:local(.scoped) {
  .password-input {
    height: 72px;
    @apply flex justify-start items-center border-b border-line_color_02 bg-card_bg_color_03;

    input {
      @apply flex-1 text-base bg-card_bg_color_03;

      &::placeholder {
        @apply text-base font-medium text-text_color_04
      }
    }

    .errortxt {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .error-border {
    @apply border-red-500
  }

  .no-border {
    @apply border-b-0
  }
}