:local(.scoped) {
  height: 100%;
  border-right: 1px solid #CDCDCF;
  @apply border-line_color_02;

  .account-box {
    max-height: calc(100% - 112px);
    overflow: auto;

    @apply bg-card_bg_color_01 h-full w-full;
  

    .head-box {
      @apply w-full bg-brand_color_animate text-button_text_01 h-28 pt-16 text-xl;
    
      .back-icon {
        @apply text-button_text_01
        }
    }

    .bind {
      @apply text-text_color_03 text-sm;
    }

    .arco-switch-checked {
      background-color: var(--brand_color_animate);
    }

    .arrow-icon {
      @apply text-text_color_02
  }
  }
}