:local(.payment-password-modal) {
  .content {
    @apply flex items-center;

    flex-direction: column;
    margin-bottom: 20px;
  }

  .points {
    @apply text-text_color_03  ;

    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .money {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }

  .payment-method {
    @apply text-text_color_01 flex items-center justify-between;

    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    .balance-enough {
      @apply text-brand_color;
    }

    .balance-not-enough {
      @apply text-secondary_color;
    }
  }
}