:local(.scoped) {
  height: 300px;
  padding: 0;  
  background-color: #ffffff!important;
  border-radius: 16px!important;
  @apply w-80;

  .sign-box {
    background: linear-gradient(180deg, #FFEBC3 0%, #FFFFFF 100%);
    @apply relative rounded-2xl flex flex-col items-center;

    .sign-top {
      top: -14px;
      left: 50%;
      width: 172px;
      height: 52px;
      margin-left: -86px;
      @apply absolute z-1
    }

    .sign-content {
      width: 172px;
      height: 107px;
      margin: 48px auto 0;
    }

    .signinnow {
      width: 220px;
      height: 40px;
      margin: 32px auto;
      background: linear-gradient(180deg, #FFC55E 0%, #FFA402 100%);
      border-radius: 40px;
      @apply flex items-center justify-center text-button_text_01 cursor-pointer text-base font-medium; 
    }

  }
}