
  
/* 亮色样式下 acro 组件主题色 */

/**  先改主题色，其它的后面改 */
body[arco-theme= 'light'] {
  /* 基色 对应--pe-05 */
  --primary-6: 112, 98, 202;

  /* 悬浮 对应--pe-06 */
  --primary-5: 136, 121, 213, 1;
  
  /* 点击 对应--pe-04 */
  --primary-7: 80, 69, 177, 1;
  
  /* 特殊场景 对应--pe-07 */
  --primary-4: 171, 146, 223, 1;
  
  /* 一般禁用 对应--pe-08 */
  --primary-3: 187, 173, 234, 1;
  
  /* 文字禁用 对应--pe-10 */
  --primary-2: 229, 225, 252, 1;
  
  /* 浅色背景 对应--pe-10 */
  --primary-1: 229, 225, 252, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(1 1 1 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(190 190 190 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(205 205 207 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(240 240 240 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(240 240 240 / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(240 240 240 / 100%);
  --color-neutral-3: rgb(240 240 240 / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(239 239 239 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(240 240 240 / 100%);

  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(255 255 255 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(193 193 193 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(255 255 255 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(246 246 246 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(239 239 239 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(234 234 234 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(255 255 255 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(23 35 45 / 100%);
}



/** 暗色 */
body[arco-theme= 'dark'] {
  /* 基色 对应--pe-05 */
  --primary-6: 112, 98, 202;

  /* 悬浮 对应--pe-06 */
  --primary-5: 136, 121, 213, 1;

  /* 点击 对应--pe-04 */
  --primary-7: 73, 62, 171, 1;

  /* 特殊场景 对应--pe-07 */
  --primary-4: 41, 34, 139, 1;

  /* 一般禁用 对应--pe-08 */
  --primary-3: 71, 61, 137, 1;

  /* 文字禁用 对应--pe-10 */
  --primary-2: 48, 37, 114, 1;

  /* 浅色背景 对应--pe-10 */
  --primary-1: 48, 37, 114, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(255 255 255 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(35 56 77 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(30 49 68 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(26 43 60 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(26 43 60 / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(26 43 60 / 100%);
  --color-neutral-3: rgb(26 43 60 / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(30 43 54 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(26 43 60 / 100%);

  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(14 24 34 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(68 80 91 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(14 24 34 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(15 24 32 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(30 43 54 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(19 30 38 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(23 35 45 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(32 47 60 / 100%);
}


/* 商家版亮色 */

body[theme-business= 'merchant-light'] {
  /* 基色 对应--pe-05 */
  --primary-6: 55, 123, 243;

  /* 悬浮 对应--pe-06 */
  --primary-5: 89, 152, 245, 1;

  /* 点击 对应--pe-04 */
  --primary-7: 34, 90, 201, 1;

  /* 特殊场景 对应--pe-07 */
  --primary-4: 124, 178, 248, 1;

  /* 一般禁用 对应--pe-08 */
  --primary-3: 159, 202, 250, 1;

  /* 文字禁用 对应--pe-10 */
  --primary-2: 211, 227, 255, 1;

  /* 浅色背景 对应--pe-10 */
  --primary-1: 211, 227, 255, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(1 1 1 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(190 190 190 / 100%);
    
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(205 205 207 / 100%);
  
  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(240 240 240 / 100%);
    
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(240 240 240 / 100%);
    
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(240 240 240 / 100%);
  --color-neutral-3: rgb(240 240 240 / 100%);
  
  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(239 239 239 / 100%);
  
  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(240 240 240 / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(255 255 255 / 100%);
    
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(193 193 193 / 100%);
  
  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(255 255 255 / 100%);
  
  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(246 246 246 / 100%);
    
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(239 239 239 / 100%);
  
  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(234 234 234 / 100%);
    
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(255 255 255 / 100%);
  
  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(23 35 45 / 100%);
}

/** 商家版暗色 */
body[theme-business= 'merchant-dark'] {
  /* 基色 对应--pe-05 */
  --primary-6: 55, 123, 243;

  /* 悬浮 对应--pe-06 */
  --primary-5: 89, 152, 245, 1;
  
  /* 点击 对应--pe-04 */
  --primary-7: 34, 90, 201, 1;
  
  /* 特殊场景 对应--pe-07 */
  --primary-4: 18, 61, 160, 1;
  
  /* 一般禁用 对应--pe-08 */
  --primary-3: 31, 77, 158, 1;
  
  /* 文字禁用 对应--pe-10 */
  --primary-2: 30, 60, 114, 1;
  
  /* 浅色背景 对应--pe-10 */
  --primary-1: 30, 60, 114, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(255 255 255 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(35 56 77 / 100%);
   
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(30 49 68 / 100%);
 
  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(26 43 60 / 100%);
   
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(26 43 60 / 100%);
   
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(26 43 60 / 100%);
  --color-neutral-3: rgb(26 43 60 / 100%);
 
  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(30 43 54 / 100%);
 
  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(26 43 60 / 100%);
 
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(14 24 34 / 100%);
   
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(68 80 91 / 100%);
 
  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(14 24 34 / 100%);
 
  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(15 24 32 / 100%);
   
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(30 43 54 / 100%);
 
  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(19 30 38 / 100%);
   
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(23 35 45 / 100%);
 
  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(32 47 60 / 100%);

}
  